aniso8601==9.0.1
hearthstone==5.47.0
hearthstone-data==121569.4
hslog==1.16.1
MouseInfo==0.1.3
numpy==1.21.3
opencv-python==4.5.4.58
Pillow==8.4.0
psutil==5.8.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pytweening==1.0.4
pywin32==302
PyYAML==6.0
